@import "~bulma/bulma.sass";

#oneNotePicker {
  background: white;
}

.menu-list li ul {
  margin-right: 0px;
}

.picker-list-header {
  margin-right: 0px;
}

.picker-icon-left {
  margin-right: 5px;
}

.picker-icon-right {
  float: right;
  margin-right: 5px;
}

.picker-selectedItem {
  // Office UI Fabric specifies a hover which has more priority this, hence the !important
  background-color: #D0D0D0 !important;
}