#oneNotePicker {
	background: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[dir=rtl] .picker-icon-left img {
	transform: scaleX(-1);
}

.onenote-picker {
	ul {
		list-style: none;
		padding: 0;
	}

	.menu-list a {
		color: #4a4a4a;
		display: block;
	}

	.menu-list li ul {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
		border-left: none;
		padding-left: 25px;
	}

	.menu-list li > a > div {
		width: 100%;
		padding-top: 6px;
		padding-bottom: 6px;

		&:hover {
			background-color: #F4F4F4;
		}
	}

	.menu-list li a div {
		display: inline-block;
		vertical-align: middle;
	}

	.menu-list label {
		display: block;
		color: black;
		width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&.breadcrumbs {
			color: #9A9A9A;
			font-size: 11px;
			width: 250px;
		}
	}

	.picker-list-header {
		overflow-x: hidden;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
	}

	.picker-icon-left {
		margin-left: 12px;
		margin-right: 5px;

		img {
			display: block;
			width: 24px;
			height: 24px;
		}
	}

	.picker-icon-right {
		margin-top: 8px;
		float: right;
		margin-right: 2vmin;
		color: #9A9A9A;

		span {
			display: inline-block;
		}

		img {
			display: inline-block;
			width: 24px;
			height: 24px;
		}
	}

	.picker-selectedItem {
		// Office UI Fabric specifies a hover which has more priority this, hence the !important
		background-color: #D0D0D0 !important;
	}

	.progress-row {
		padding-top: 8px;
		padding-bottom: 8px;
		margin-left: 18px;
		word-wrap: break-word;

		.progress-spinner {
			margin: auto;
			margin-left: 0px;
			border: 1.5px solid #c7e0f4;
			border-top: 1.5px solid #0078d7;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			-webkit-animation: spin 1.3s infinite cubic-bezier(.53,.21,.29,.67);
			animation: spin 1.3s infinite cubic-bezier(.53,.21,.29,.67);
		}
	}
}
