#oneNotePicker {
	background: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[dir=rtl] .picker-icon-left img {
	transform: scaleX(-1);
}

.onenote-picker {
	ul {
		list-style: none;
		padding: 0;
	}

	.menu-list a {
		color: #4a4a4a;
		display: block;
	}

	.menu-list li ul {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
		border-left: none;
		padding-left: 25px;
	}

	.menu-list li > a > div {
		width: 100%;
		padding-top: 6px;
		padding-bottom: 6px;

		&:hover {
			background-color: #F4F4F4;
		}
	}

	.menu-list li a div {
		display: inline-block;
		vertical-align: middle;
	}

	.menu-list label {
		display: inline-block;
		vertical-align: top;
		color: black;
		width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.picker-list-header {
		overflow-x: hidden;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
	}

	.picker-icon-left {
		margin-left: 12px;
		margin-right: 5px;

		img {
			display: block;
		}
	}

	.picker-selectedItem {
		// Office UI Fabric specifies a hover which has more priority this, hence the !important
		background-color: #D0D0D0 !important;
	}
}
